.u-section-1 .u-sheet-1 {
  min-height: 740px;
}

.u-section-1 .u-text-1 {
  font-size: 3.875rem;
  margin: 52px 780px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  margin: 9px 570px 0 0;
}

.u-section-1 .u-form-1 {
  height: 357px;
  width: 570px;
  margin: 33px 285px 0;
}

.u-section-1 .u-btn-2 {
  font-size: 2.5rem;
  margin: 90px auto 0 149px;
  padding: 0;
}

.u-section-1 .u-social-icons-1 {
  height: 66px;
  min-height: 16px;
  width: 66px;
  min-width: 16px;
  margin: -65px 1000px 8px 74px;
}

.u-section-1 .u-icon-1 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 580px;
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 370px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 185px;
    margin-left: 185px;
  }

  .u-section-1 .u-btn-2 {
    border-style: solid;
    margin-left: 0;
  }

  .u-section-1 .u-social-icons-1 {
    margin-right: 874px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 360px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 150px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 75px;
    margin-left: 75px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-right: 654px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 180px;
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 0;
    width: 540px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-right: 474px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-right: 274px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 475px;
}

.u-section-2 .u-btn-1 {
  font-size: 2.5rem;
  margin: 11px 558px 0 147px;
  padding: 0;
}

.u-section-2 .u-social-icons-1 {
  height: 66px;
  min-height: 16px;
  width: 66px;
  min-width: 16px;
  margin: -66px 1000px 0 74px;
}

.u-section-2 .u-icon-1 {
  height: 100%;
  color: rgb(0, 137, 203) !important;
}

.u-section-2 .u-btn-2 {
  font-size: 2.5rem;
  margin: 19px auto 0 150px;
  padding: 0;
}

.u-section-2 .u-btn-3 {
  font-size: 1.875rem;
  margin: 0 282px 0 217px;
  padding: 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  font-size: 1.875rem;
  margin: 0 217px;
  padding: 0;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  font-size: 1.875rem;
  margin: 0 313px 60px 217px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-btn-1 {
    border-style: solid;
    margin-right: 458px;
    margin-left: 47px;
  }

  .u-section-2 .u-social-icons-1 {
    margin-right: 874px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-3 {
    margin-right: 182px;
    margin-left: 117px;
  }

  .u-section-2 .u-btn-4 {
    border-style: solid;
    margin-right: 233px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-5 {
    border-style: solid;
    margin-right: 212px;
    margin-left: 117px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-btn-1 {
    margin-right: 285px;
    margin-left: 0;
  }

  .u-section-2 .u-social-icons-1 {
    margin-right: 654px;
  }

  .u-section-2 .u-btn-3 {
    margin-right: 72px;
    margin-left: 7px;
  }

  .u-section-2 .u-btn-4 {
    margin-right: 7px;
    margin-left: 7px;
  }

  .u-section-2 .u-btn-5 {
    margin-right: 102px;
    margin-left: 7px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-btn-1 {
    margin-right: 105px;
  }

  .u-section-2 .u-social-icons-1 {
    margin-right: 474px;
  }

  .u-section-2 .u-btn-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-btn-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-btn-5 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-2 .u-social-icons-1 {
    margin-right: 274px;
  }
}